
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.card-zoom {
    transition: transform 0.2s; 
}

.card-zoom:hover {
    transform: scale(1.1); 
}

.pagination {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.pagination a {
    color: white;
    font-size: 16px;
    margin: 5px;
    transition: transform 0.2s;
    display: inline-block;
}

.pagination a:hover {
    transform: scale(1.2);
}
